@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
  }
  

 
  
/* ::-webkit-scrollbar{
    width:6px !important;
    height: 6px !important;

}

::-webkit-scrollbar-track{
    background: hsl(0, 7%, 79%);
}

::-webkit-scrollbar-thumb {
    background: rgb(2, 1, 1);
} */

.static-box {
    position: -webkit-sticky; 
    position: sticky;
    left: 0; 
    top: 0; 
    z-index: 1;
    
  }
  